#Projects {
  padding-top: 0 !important;
  padding-bottom: 80px !important;
  .my-skills {
    gap: 15px;
    .my-card {
      border-radius: 10px;
      .skills-used {
        color: white;
        font-size: 12px;
      }
      .btn {
        padding: 0.5em 1em;
        margin-bottom: 20px;
      }
    }
    .my-card:hover .overlay {
      opacity: 1;
    }
    .overlay {
      h6 {
        @media only screen and (max-width: 600px) {
        font-size: 16px!important;
        }
        margin-top: 0;
      }
      p {
               @media only screen and (max-width: 600px) {
        font-size: 13px!important;
        }
      }
      position: absolute;
      padding-bottom: 10px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: $primary !important;
      .text {
        color: white;
        font-size: 14px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
    }
  }
}
