// Standard brand colors

$primary: #2f2fa2;
$secondary: #f64c72;
$accent: #242582;
$dark: #1d1d1d;
$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// responsive breakpoint specs
$xs-breakpoint: 718px;
$sm-breakpoint: 1024px;
$md-breakpoint: 1439px;
$lg-breakpoint: 1920px;

$h1: (
  size: 48px,
  line-height: 3.75rem,
  letter-spacing: -0.01562em,
  weight: 600,
) !default;
$h2: (
  size: 32px,
  line-height: 3.75rem,
  letter-spacing: -0.00833em,
  weight: 800,
) !default;
$h3: (
  size: 3rem,
  line-height: 3.125rem,
  letter-spacing: normal,
  weight: 400,
) !default;
$h4: (
  size: 2.125rem,
  line-height: 2.5rem,
  letter-spacing: 0.00735em,
  weight: 400,
) !default;
$h5: (
  size: 1.5rem,
  line-height: 2rem,
  letter-spacing: normal,
  weight: 400,
) !default;
$h6: (
  size: 1.25rem,
  line-height: 2rem,
  letter-spacing: 0.0125em,
  weight: 500,
) !default;
$subtitle1: (
  size: 1rem,
  line-height: 1.75rem,
  letter-spacing: 0.00937em,
  weight: 400,
) !default;
$subtitle2: (
  size: 0.875rem,
  line-height: 1.375rem,
  letter-spacing: 0.00714em,
  weight: 500,
) !default;
$body1: (
  size: 1rem,
  line-height: 1.5rem,
  letter-spacing: 0.03125em,
  weight: 400,
) !default;
$body2: (
  size: 0.875rem,
  line-height: 1.25rem,
  letter-spacing: 0.01786em,
  weight: 400,
) !default;
$overline: (
  size: 0.75rem,
  line-height: 2rem,
  letter-spacing: 0.16667em,
  weight: 500,
) !default;
$caption: (
  size: 0.75rem,
  line-height: 1.25rem,
  letter-spacing: 0.03333em,
  weight: 400,
) !default;
p {
  font-size: 16px;
}

.btn {
  color: white;
  padding: 1em 2.5em;
  position: relative;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 800;
  font-size: 15px;
}

.btn-primary {
  background-color: $primary;
  box-shadow: 0 5px 0 $secondary;
}

.btn-secondary {
  background-color: $secondary;
  box-shadow: 0 5px 0 $primary;
}

.btn-light {
  background-color: white;
  box-shadow: 0 5px 0 $secondary;
  color: $secondary;
}
.btn:active {
  box-shadow: none;
  top: 5px;
}

.btn-primary:hover {
  background-color: $secondary;
  color: white;
}
.btn-secondary:hover {
  background-color: white;
  color: white;
}
.btn-light:hover {
  background-color: $secondary;
  color: white;
}

@import "~quasar-variables-styl";
